{
  "printWidth": 120,
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto"
}